*{
    margin: 0;
    padding: 0;
}

.matkul{
    background-color:#ADD8E6;
    color:black;
    font-size: 13px;
   
}

.teks{
    color: white;
    font-size: 18px;
    margin-left: 20px;
}

#hapus{
    background-color: red;
    color: white;
    padding: 5px;
    margin-top: 5px;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
}

#hapus:hover{
    background-color: #FF3232;
}

@media print{
    .teks{
        margin-top: 20px;
        color: black;
    }
    
    #hapus{
        display: none;
    }
}
