* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #303030;
}

header {
    background-color: black;
    color: whitesmoke;
    width: 100%;
    height: 80px;
    margin-right: auto;
    margin-left: auto;
}

h1 {
    float: left;
    margin: 20px 30px;
}

#search {
    float: right;
    margin: 20px 30px;
    padding: 10px 40px;
    border-radius: 20px;
    outline: none;
}

main {
    margin: 30px 0px;
}

#matkul {
    margin-left: 30px;
    padding: 5px 5px;
    outline: none;
}

#dosen {
    margin-left: 5px;
    padding: 5px 5px;
    outline: none;
}

#mulai {
    margin-left: 5px;
    padding: 5px 0;
    outline: none;
}

#selesai {
    margin-left: 5px;
    padding: 5px 0;
    outline: none;
}

#hari {
    margin-left: 5px;
    padding: 5px 5px;
    outline: none;
}

#save {
    background-color: #32CD32;
    margin-left: 40px;
    padding: 5px 20px;
    color: whitesmoke;
    border: none;
    outline: none;
    border-radius: 20px;
    font-weight: bold;
    font-size: 15px;
}

#save:hover {
    cursor: pointer;
    background-color: #65f565;
}

#submit {
    margin-left: 5px;
    background-color: #32CD32;
    padding: 5px 20px;
    color: whitesmoke;
    border: none;
    outline: none;
    border-radius: 20px;
    font-weight: bold;
    font-size: 15px;
}

#submit:hover {
    cursor: pointer;
    background-color: #65f565;
}

table {
    margin: 20px 30px;
    color: black;
}

tr {
    text-align: center;
    background-color: white;
    padding: 10px 20px;
}

th,
td {
    padding: 10px 50px;
}
