*{
    margin: 0;
    padding: 0;
}


body{
    background-color: #282828;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: black;
    width: 100%;
    height: 80px;
}

#logo{
    color: whitesmoke;
    margin: 20px 30px;
    font-size: 24px;
    font-family: Helvetica;
    float: left;
    font-weight: bold;
}

.container{
    margin: 30px 525px;
    
}

h1 {
    font-family: Helvetica;
    float: left;
    margin: 20px 30px;
    font-weight: bold;
    color: white;
}

p{
    color: white;
    font-size: 18px;
}

#tulisan{
    color: white;
    font-size: 18px;
    
}

#nama, #email, #instansi, #tanggapan{
    margin-bottom: 10px;
    padding: 10px 60px;
    display: block;
    border: none;
    outline: none;
    border-bottom: 1px solid  lime;
    background: none;
    color: white;
}

#rating{
    margin: 5px auto 10px auto;
    padding: 5px 10px;
    border-radius: 5px;
    display: block;
    text-align: center;
    border: none;
}

#submit{
    background-color: #32CD32;
    color: white;   
    margin: 10px 0;
    padding: 10px 119px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
}

#submit:hover{
    background-color: lime; 
    color: white;
}

footer{
    background-color: black;
    color: white;
    width: 100%;
    height: 150px;
    
}

#kotakfooter{
    padding: 20px 0 0 40px;
    
}

#cc{
    margin: 10px 0 0 50px;
    
}

#list{
    list-style: none;
}

i{
    margin-right: 5px;
}
